Package: com.pookjw.nopasteboard
Name: NoPasteboard
Version: 1.0.3
Architecture: iphoneos-arm
Description: Hide my Clipboard contents!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.rpetrich.rocketbootstrap
