Package: com.pookjw.nopasteboardccmodule
Name: NoPasteboardCCModule
Version: 1.0.3
Architecture: iphoneos-arm
Description: Toggle NoPasteboard!
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.rpetrich.rocketbootstrap, com.pookjw.nopasteboard
